{% extends "win98_base.html" %}

{% block title %}{{ site.name }} - Desktop{% endblock %}

{% block main %}
<div class="win98-desktop-area">
    <div class="win98-icons-grid">
        <!-- My Computer (About) -->
        <a href="{{ url_for('main.about') }}" class="win98-icon">
            <img src="{{ url_for('static', filename='icons/computer.svg') }}" alt="" class="win98-icon-img">
            <span class="win98-icon-label">My Computer</span>
        </a>

        <!-- My Documents (Blog) -->
        <a href="{{ url_for('blog.index') }}" class="win98-icon">
            <img src="{{ url_for('static', filename='icons/notepad.svg') }}" alt="" class="win98-icon-img">
            <span class="win98-icon-label">My Documents</span>
        </a>

        <!-- Projects Folder -->
        <a href="{{ url_for('main.projects') }}" class="win98-icon">
            <img src="{{ url_for('static', filename='icons/folder.svg') }}" alt="" class="win98-icon-img">
            <span class="win98-icon-label">Projects</span>
        </a>

        <!-- Resume -->
        <a href="{{ url_for('resume.index') }}" class="win98-icon">
            <img src="{{ url_for('static', filename='icons/document.svg') }}" alt="" class="win98-icon-img">
            <span class="win98-icon-label">Resume</span>
        </a>

        <!-- Spotify -->
        <a href="{{ url_for('spotify.index') }}" class="win98-icon">
            <img src="{{ url_for('static', filename='icons/cd.svg') }}" alt="" class="win98-icon-img">
            <span class="win98-icon-label">Spotify</span>
        </a>

        <!-- Blackjack -->
        <a href="{{ url_for('blackjack.index') }}" class="win98-icon">
            <img src="{{ url_for('static', filename='icons/cards.svg') }}" alt="" class="win98-icon-img">
            <span class="win98-icon-label">Blackjack</span>
        </a>

        <!-- Sudoku -->
        <a href="{{ url_for('sudoku.index') }}" class="win98-icon">
            <img src="{{ url_for('static', filename='icons/game.svg') }}" alt="" class="win98-icon-img">
            <span class="win98-icon-label">Sudoku</span>
        </a>

        <!-- Weather -->
        <a href="{{ url_for('weather.index') }}" class="win98-icon">
            <img src="{{ url_for('static', filename='icons/weather.svg') }}" alt="" class="win98-icon-img">
            <span class="win98-icon-label">Weather</span>
        </a>

        <!-- PR Review -->
        <a href="{{ url_for('pr_review.index') }}" class="win98-icon">
            <img src="{{ url_for('static', filename='icons/pr-review.svg') }}" alt="" class="win98-icon-img">
            <span class="win98-icon-label">PR Review</span>
        </a>

        <!-- News -->
        <a href="{{ url_for('news.index') }}" class="win98-icon">
            <img src="{{ url_for('static', filename='icons/newspaper.svg') }}" alt="" class="win98-icon-img">
            <span class="win98-icon-label">News</span>
        </a>

        <!-- Internet Explorer (External Links) -->
        <a href="{{ site.github_url }}" target="_blank" rel="noopener noreferrer" class="win98-icon">
            <img src="{{ url_for('static', filename='icons/internet.svg') }}" alt="" class="win98-icon-img">
            <span class="win98-icon-label">GitHub</span>
        </a>

        <a href="{{ site.linkedin_url }}" target="_blank" rel="noopener noreferrer" class="win98-icon">
            <img src="{{ url_for('static', filename='icons/internet.svg') }}" alt="" class="win98-icon-img">
            <span class="win98-icon-label">LinkedIn</span>
        </a>

        <!-- Recycle Bin (decorative) -->
        <a href="#" class="win98-icon" onclick="win98Alert('The Recycle Bin is empty.', 'Recycle Bin'); return false;">
            <img src="{{ url_for('static', filename='icons/recycle.svg') }}" alt="" class="win98-icon-img">
            <span class="win98-icon-label">Recycle Bin</span>
        </a>
    </div>
</div>
{% endblock %}
